.container {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.hamburger_icon {
  font-size: 1.5rem;
}
.logo {
  font-size: 1.4rem;
  color: #002f34;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.lft_content {
  margin-left: 1rem;
  margin-top: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.rtl_content {
  display: flex;
  margin-top: 0.4rem;
  margin-right: 1rem;

  align-items: center;
}
.search_bar {
  width: 100%;
}

/* Initial style for the closed menu */
.side_bar {
  height: 100vh;
  width: 100vw;
  position: relative;
  position: fixed;
  top: 0;
  left: -100%;
  transition: width 0.3s, left 0.3s;
  background-color: hsl(0, 0%, 94%);
}

/* Style for the open menu */
.side_bar_open {
  width: 100%; /* Adjust the width as needed */
  left: 0;
}
.close_icon {
  position: absolute;
  right: 0.8rem;
  margin-top: 0.5rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 769px) {
  .search_bar {
    margin-top: 1rem;
    width: 95vw;
    height: 2.6rem;
    align-items: center;
    display: flex;
    margin-left: 2.5vw;
    outline-color: #23e5db;
    border: 2px solid #002f34;
    border-radius: 0.4rem;
  }
  .clicked{
    border-color: #23e5db;
  }
  .search_bar span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .4rem;
  }
  .search_bar .search_icon{
    font-size: 1.5rem;
    
  }
  .container {
    margin-top: 0rem;
    z-index: 10;
  }
}
