* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cmp {
  font-size: 1.4rem;
  margin-bottom: -6rem;
  margin-top: 4rem;
  cursor: pointer;
}
.back_home {
  font-size: 1.8rem;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}
.content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 100%;

  height: fit-content;
}
.otpverify_wrapper {
  position: relative;
}

.code {
  margin-top: 7%;
  font-size: 1.8rem;
  font-weight: 600;
  color: #1f1f1f;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.otp_input {
  margin-top: 0;
  width: 30%;
  border: 1px solid black;
  height: 3rem;
  padding-left: 1rem;
}
.inst span {
  color: #181818;
  font-weight: 600;
}
.verify_btn {
  width: 30%;
  height: 3rem;
  border: none;
  background-color: #cceeeb !important;
}
.enabled_verify_btn {
  background-color: #00a99d !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .otpverify_wrapper {
    height: 100vh;
    width: 100vw;
  }
  .code {
    margin-top: 30%;
    font-size: 1.4rem;
  }
  .inst {
    margin-bottom: -1rem;
    margin-top: -1rem;
    margin-left: -2rem;
    color: #181818;
    font-weight: 400;
  }
  .otp_input {
    width: 80%;
    /* margin-top: 1.5%; */
  }
  .verify_btn {
    width: 80%;
  }
}
