.wrapper {
    width: 98vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
  }
  
  .vehicleData_wrapper {
    
    width: 20%;
    border: 1px solid black;
    height: 30%;
    margin: 0.5%;
    position: relative;
  }
  .vehicle_img{
    margin:2.5% 2.5%;
    border: 1px solid red;
    width: 95%;
    height: 65%;
  }
  .vehicle_name{
    position: absolute;
    right: 1rem;
    bottom:18%;
  }
  .owner {
    position: absolute;
  
    left: 1rem;
    bottom: 1.5rem;
    /* color: #7a9395; */
  }
  .location{
      position: absolute;
      left: 1rem;
      /* color: #537174; */
      text-transform: capitalize;
      bottom: .3rem;
      font-size:small;
      
  }
  
@media screen and (min-width:769px) {
    .other_screen_header{
        display: block;

    }
    .mobile_view_header{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .other_screen_header{
        display: none;
    }
    .mobile_view_header{
         display: block;
    }
}
