.notify{
    font-size: 2.4rem;
    padding: .4rem;
    border-radius: 50%;
    
}
.notify:hover{
    background-color: #c2f1f0;
}
@media screen and (max-width:768px) {
    .notify{
        font-size: 2.8rem;
    }
}