/* Header Component CSS */
.wrapper_header {
  display: flex;
  
  background-color: #eff1f3;
  height: 4.5rem;
  max-width: 100vw;
  justify-content: space-around;
}

.logo {
  font-size: 2rem;
  color: #002f34;
  font-weight: 700;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-items: center;
  letter-spacing: 0.1rem;
}

.chat,
.notifications,
.language {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.language {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.down_arrow {
  font-size: 1.2rem;
  cursor: pointer;
  font-size: 1.4rem;
}

.language span {
  color: #2c5357;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.postad {
  display: flex;
  align-items: center;
}

.postad span {
  border: 2px solid black;
  color: #002f34;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0.2rem;
  width: 8rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  border-top-color: #23e5db;
  border-bottom-color: #d94b8f;
  border-left-color: #ffce32;
  border-right-color: #3a77ff;
  cursor: pointer;
}

.filter {
  cursor: pointer;
}

.lft_content {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 1rem;
}

.rtl_content {
  display: flex;
  justify-content: flex-end;
  gap: 1.4rem;
  align-items: center;
}
.vehicle_search {
  width: 28rem;
  margin-top: 1rem;
  height: 2.5rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.vehicle_search_input {
  height: 2.5rem;
  width: 25rem;
  padding-left: 0.5rem;
  border: 2px solid #002f34;
  outline-color: #23e5db;
  font-size: 1.1rem;
  border-radius: 0%;
}
.custom_btn {
  height: 2.5rem;
  width: 3rem;
  background-color: #002f34;
  display: flex;
  color: white;
  font-size: 1.5rem;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.location{
 margin-top: .95rem;
}
.location_search {
  height: 2.5rem;
  width: 15.5rem;
  padding-left: 0.5rem;
  border: 2px solid #002f34;
  outline-color: #23e5db !important;
  font-size: 1.1rem;
  border-radius: 0%;
  background-color: white;
  display: flex;
  align-items: center;
}
.location_search_input {
  margin-left: 0.1rem;
  height: 2.2rem;
  width: 12rem;
  padding-left: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  border-radius: 0%;
}

@media screen and (max-width: 950px) {
  .lft_content {
    gap: 4rem;
  }

  .rtl_content {
    gap: 1.5rem;
  }

  .postad span {
    width: 6rem;
  }

  .mobile_view_header {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .lft_content {
    gap: 2rem;
  }

  .wrapper_header {
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .other_screen_header {
    display: block;
  }

  .mobile_view_header {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .other_screen_header {
    display: none;
  }

  .mobile_view_header {
    display: block;
  }
}
