.wrapper{
    display: none;
}
.filter_icon{
    font-size: 2.2rem;
    padding: .4rem;
    border-radius: 50%;
}
.filter_icon:hover{
    background-color: #c2f1f0;
}
@media screen and (max-width:768px) {
    .wrapper{
        display: block;
    }
}