.chat{
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 50%;
}
.chat:hover{
    background-color: #e2ebf7;
}
@media screen and (max-width:768px) {
    .chat{
        font-size: 1.5rem;
    }
}